* {
	background-image: none;
	box-shadow: none;
	font-family: DepartureMono Nerd Font Mono;  
        font-size: 20px;
	transition: all 0.2s ease-in-out;
}

window {
	background-color: rgba(00, 00, 00, 0.4);
}

button {
        border-color: rgba(255, 255, 255, 0.2);
	text-decoration-color: white;
        color: white;
	background-color: rgba(255, 255, 255, 0.1);
	border-style: solid;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	background-color: rgba(255, 255, 255, 0.3);
	outline-style: none;
}

#lock {
       border-radius: 100px 0px 0px 0px;
       border-width: 2px 4px 4px 2px;
       background-image: image(url("/home/meltalizard/.config/wlogout/icons/lock.png"));
}

#logout {
         border-radius: 0px 0px 0px 100px ;
         border-width: 4px 4px 2px 2px;
         background-image: image(url("/home/meltalizard/.config/wlogout/icons/logout.png"));
}

#suspend {
          border-radius: 0px 0px 0px 0px ;
          border-width: 2px 2px 4px 4px;
          background-image: image(url("/home/meltalizard/.config/wlogout/icons/suspend.png"));
}

#hibernate {
            border-radius: 0px 0px 0px 0px;
            border-width: 2px 2px 4px 2px;
            background-image: image(url("/home/meltalizard/.config/wlogout/icons/hibernate.png"));
}

#shutdown {
           border-radius: 0px 0px 100px 0px;
           border-width: 4px 2px 2px 4px;
           background-image: image(url("/home/meltalizard/.config/wlogout/icons/shutdown.png"));
}

#reboot {
         border-radius: 0px 100px 0px 0px;
         border-width: 4px 2px 2px 2px;
         background-image: image(url("/home/meltalizard/.config/wlogout/icons/reboot.png"));
}
